/* Establece el color de fondo de toda la página */
body {
  background-color: #8d8c8c;
  margin: 0; /* Elimina el margen predeterminado del body */
  font-family: Arial, sans-serif; /* Estilo de fuente global */
}

/* Estilo para el Navbar */
.navbar-light {
  background-color: #333 !important;
}

.navbar-brand, .btn-primary {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #e5e6ee00;
  border: 1px solid #746d6d;
  
}

/* Estilo específico para el botón Suggestions */
.tex {
  background-color: #8d8c8c;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none; /* Sin borde por defecto */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.tex:hover {
  border: 1px solid #000000; /* Aparece el borde negro al pasar el ratón */
}

.navbar-brand .tex:hover {
  background-color: #8d8c8c;
  border: 1px solid #000000;
  
  
}

/* Estilo específico para el botón Logout */
.ml-auto .btnlog {
  background-color: #8d8c8c; /* Fondo negro */
  color: #000000; /* Texto blanco */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  
  
}

.ml-auto .btnlog:hover {
  background-color: #e5e6ee00;
  border: 1px solid #000000;
   
   /* Fondo gris oscuro al pasar el ratón */
}

.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.inicio-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para MyCard */
.card {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Ajusta el padding para mayor espacio interno */
  width: 100%;
  max-width: 700px; /* Ajusta el ancho máximo de la tarjeta */
  height: auto;
  min-height: 700px; /* Ajusta la altura mínima para alargar la tarjeta */
  text-align: center;
  margin: 50px auto; /* Centra la tarjeta en su contenedor */
}
.card:hover {
  transform: translateY(-5px); /* Levanta la tarjeta ligeramente al pasar el ratón sobre ella */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada al hacer hover */
}

.card-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4C5958;
}

.card-img-top {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
  max-height: 700px; /* Incrementa la altura máxima de la imagen */
  min-height: 520px; /* Establece una altura mínima para la imagen */
  object-fit: cover; /* La imagen se ajustará dentro del contenedor sin distorsión */
}

.card-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4B3B2B;
}

/* Estilos para el botón Create Post */
.create-post-btn {
  background-color: #02020202; /* Fondo negro */
  color: #000000; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Centra el botón horizontalmente */
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  
}

.create-post-btn i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
  
}

.create-post-btn:hover {
  background-color: #33333300; /* Fondo gris oscuro al pasar el ratón */
}
