/* Establece el color de fondo de toda la página */
body {
  background-color: #E5E6EE;
  margin: 0; /* Elimina el margen predeterminado del body */
  font-family: Arial, sans-serif; /* Estilo de fuente global */
}

/* Estilo para el Navbar */
.navbar-light {
  background-color: #E5E6EE !important;
}

.navbar-brand, .btn-primary {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #E5E6EE;
  border: 1px solid #333;
  
}

/* Estilo específico para el botón Suggestions */
.tex {
  background-color: #E5E6EE; /* Fondo negro */
  color: #000000; /* Texto blanco */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: underline; /* Elimina el subrayado del enlace */
  font-size: 20px;
  border: 1px solid #000000;
  
  
}

.navbar-brand .tex:hover {
  background-color: #E5E6EE;
  border: 1px solid #000000;
  
  
}

/* Estilo específico para el botón Logout */
.ml-auto .btnlog {
  background-color: #E5E6EE; /* Fondo negro */
  color: #000000; /* Texto blanco */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: underline; /* Elimina el subrayado del enlace */
  font-size: 20px;
  
  
}

.ml-auto .btnlog:hover {
  background-color: #E5E6EE;
  border: 1px solid #000000;
   
   /* Fondo gris oscuro al pasar el ratón */
}

.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.inicio-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para MyCard */
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Ajusta el padding para mayor espacio interno */
  border-radius: 5px;
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo de la tarjeta */
  height: auto;
  min-height: 500px; /* Ajusta la altura mínima para alargar la tarjeta */
  text-align: center;
  margin: 20px auto; /* Centra la tarjeta en su contenedor */
}

.card-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4C5958;
}

.card-img-top {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  max-height: 400px; /* Incrementa la altura máxima de la imagen */
  object-fit: cover; /* La imagen se ajustará dentro del contenedor sin distorsión */
}

.card-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4B3B2B;
}

/* Estilos para el botón Create Post */
.create-post-btn {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Centra el botón horizontalmente */
  border-radius: 5px;
}

.create-post-btn i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.create-post-btn:hover {
  background-color: #333; /* Fondo gris oscuro al pasar el ratón */
}
